# Protect the .htaccess
<files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</files>

RewriteEngine on

# pretty URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

# Redirect HTTP to HTTPS
RewriteCond %{HTTPS} on
RewriteRule (.*) http://%{HTTP_HOST}%{REQUEST_URI}

# Disable directory browsing
Options All -Indexes

# Error redirects
ErrorDocument 400 https://www.robustittraining.com/error/bad-request.php
ErrorDocument 401 https://www.robustittraining.com/error/unauthorised.php
ErrorDocument 403 https://www.robustittraining.com/error/forbidden.php
ErrorDocument 404 https://www.robustittraining.com/error/file-not-found.php
ErrorDocument 500 https://www.robustittraining.com/error/internal-server-error.php


